<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel=stylesheet type="text/css" href="css/main.css">
	<title>勤儉持家的好女人</title>
</head>
<body>
	<div class="slgon">
		勤儉持家的好女人
	</div>
	<div class="content">
		<div class="">
			<form class="inp">
				<label class="word">商品圖片:</label>
				<input type="file" class="" id="select">

				<label class="word">商品名稱:</label>
				<input type="text" class="" placeholder="請輸入商品名稱:" id="namebox">

				<label class="word">商品價格:</label>
				<input type="text" class="" placeholder="請輸入商品價格:" id="price">

				<label class="word">商品必買數量:</label>
				<input type="text" class="" placeholder="請輸入商品可買數量:" id="must_items">

				<label class="word">商品可買數量:</label>
				<input type="text" class="" placeholder="請輸入商品必買數量:" id="buyable_items">
			</form>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="row">
						<div class="col-md-6">
							<button type="submit" class="add" onclick="addList()"
							id="upload">新增</button>
						</div>
						<div class="col-md-6">
							<button type="submit" class="cancel" onclick="btnGoPage2()">返回</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-storage.js"></script>
<script src="auth.js"></script>
<script src="js/main.js"></script>
<script src="image.js"></script>
</html>